{{ define "header" }}
  <header id="header">
    <nav class="navbar">
      <ul class="nav-items">
        <a href="/login">
          <li>Sign in</li>
        </a>
        <a href="/account/new">
          <li>Sign up</li>
        </a>
        <a href="/account/edit">
          <li>Account</li>
        </a>
        <a href="/logout">
          <li>Sign out</li>
        </a>
      </ul>
    </nav>
  </header>
{{ end }}