{{ template "base" }}
{{ define "title" }}Register{{ end }}
{{ define "content" }}
<div class="form-container">
  <h1>Account Details</h1>
  <form action="/account/edit" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <input type="submit" value="Submit">
  </form>
</div>
{{ end }}