{{ template "base" }}
{{ define "title" }}Go Chat{{ end }}
{{ define "content" }}
<body>
  <div class="sidebar">
    <div class="sidebar-header">
      <h2>nathanp</h2>
      <div class="menu-icons">
        <i id="add-room-btn" class="fa fa-plus"></i>
        <div id="account-opts-btn" class="dropdown">
          <i class="fa fa-gear"></i>
          <div class="dropdown-content">
            <a id="account">Account</a>
            <a id="logout-btn">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <div id="room-list">
    </div>
  </div>
  <div class="chat-container">
    <div class="logo-container">
    <img class="logo" src="/static/logo.png" alt="go-chat" />
    <div>
  </div>
</body>
{{ end }}