{{ template "base" }}
{{ define "title" }}Go Chat{{ end }}
{{ define "content" }}
<body>
  <div class="sidebar">
    <div class="sidebar-header">
      <h2>nathanp</h2>
      <div class="menu-icons">
        <i id="addRoomBtn" class="fa fa-plus"></i>
        <div class="dropdown">
          <i class="fa fa-gear"></i>
          <div class="dropdown-content">
            <a id="account" href="/account/edit">Account</a>
            <a id="logout-btn">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <div id="room-list">
    </div>
  </div>
  <div class="chat-container">
    <div class="chat-header">
      <h2 class="chat-title">Current Events</h2>
      <div class="dropdown">
        <i class="fa fa-ellipsis-v" style="font-size:1em"></i>
        <div class="dropdown-content">
          <a id="roomDetailsBtn" href="#">Room Details</a>
          <a href="#" id="leaveRoomBtn" >Leave Room</a>
          <a href="#" id="deleteRoomBtn">Delete Room</a>
        </div>
      </div>
    </div>
    <div class="chat-area" id="chat-area">
      <div class="chat-message"><div class="meta">User1 • 10:30 AM</div><div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed feugiat quam. Sed a nisi elementum, tristique felis vitae, hendrerit sem. Suspendisse vulputate sagittis hendrerit. Sed id posuere turpis, vitae porta tortor. Nunc ornare urna mauris, ac condimentum ex ultricies pretium.</div></div>
      <div class="chat-message user"><div class="meta">You • 10:32 AM</div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
      <div class="chat-message system"><div class="meta">10:32 AM</div>User1 left the chat.</div>
      <div class="chat-message"><div class="meta">User2 • 10:32 AM</div>Suspendisse sed feugiat quam. Sed a nisi elementum, tristique felis vitae, hendrerit sem.</div>
    </div>
    <form class="chat-input" id="chat-input">
      <input type="text" placeholder="Type a message..." name="" id="msg" autofocus>
      <button type="submit">Send</button>
    </form>
  </div>
</body>
{{ end }}