{{ template "base" }}
{{ define "title" }}Login{{ end }}
{{ define "content" }}
<form class="form-container" id="login-form">
  <h1>Sign in</h1>
  <label for="email">Email Address</label>
  <input type="text" name="email" id="email">
  <label for="password">Password</label>
  <input type="password" name="password" id="password">
  <p id="error-message" class="error"></p>
  <button type="submit" class="send-btn" id="login">Login</button>
</form>
{{ end }}