{{ template "base" }}
{{ define "title" }}Go Chat - Register{{ end }}
{{ define "scripts" }}
<script src="/static/js/auth.js" defer></script>
{{ end }}
{{ define "content" }}
<body>
  <div class="sidebar">
    <div class="sidebar-header">
      <h1>Register</h1>
    </div>
    <form class="sidebar-form" id="register-form">
      <p id="error-message" class="error"></p>
      <label for="username">Username</label>
      <input type="text" name="username" id="username">
      <label for="email">Email</label>
      <input type="text" name="email" id="email">
      <label for="password">Password</label>
      <input type="password" name="password" id="password">
      <input type="submit" value="Register">
    </form>
    <p>
      Already have an account? <a href="/login">Sign in</a>
    </p>
  </div>
  <div class="chat-container">
    <div class="logo-container">
    <img class="logo" src="/static/logo.png" alt="go-chat" />
    <div>
  </div>
</body>
{{ end }}