<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Go Chat Room</title>
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  <script src="../static/js/script.js" defer></script>
  <script src="../static/js/login.js" defer></script>
</head>

<body>
  <div class="main-content">
    <div class="chat-window">
      <div class="room-list">
        <div class="chat-header">
          <nav class="navbar">
            <ul class="nav-items">
              <a href="/login">
                <li>Sign in</li>
              </a>
              <a href="/account/new">
                <li>Sign up</li>
              </a>
              <a href="/account/edit">
                <li>Account</li>
              </a>
              <a href="/logout">
                <li>Sign out</li>
              </a>
            </ul>
          </nav>
        </div>
      </div>
      <div class="chat-container" id="chatArea">
        <div class="chat-header">
          <h2>Room name</h2>
        </div>
        <div class="messages" id="messages">
        </div>
        <form class="chat-form" id="chat-form">
          <input type="text" class="chat-input" name="msg" id="msg" placeholder="Type your message..." autofocus>
          <button type="submit" class="send-btn" value="Submit">Send</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>