<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Go Chat App</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/styles_test.css">
</head>

<body>
  <div class="sidebar">
    <div class="sidebar-header">
      <h2>nathanp</h2>
      <div class="dropdown">
        <i class="fa fa-gear" style="font-size:1em;"></i>
        <div class="dropdown-content">
          <a id="account">Account</a>
          <a href="/logout">Logout</a>
        </div>
      </div>
    </div>
    <div class="room">Memes</div>
    <div class="room">Tech Talk</div>
    <div class="room">Random</div>
  </div>
  <div class="chat-container">
    <div class="chat-header">
      <h2>Memes</h2>
      <div class="dropdown">
        <i class="fa fa-ellipsis-v" style="font-size:1em"></i>
        <div class="dropdown-content">
          <a href="#">Room Details</a>
          <a href="#">Delete Room</a>
        </div>
      </div>
    </div>
    <div class="chat-area">
      <div class="chat-message"><div class="meta">User1 • 10:30 AM</div>Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello!</div>
      <div class="chat-message user"><div class="meta">You • 10:32 AM</div>Hello!</div>
      <div class="chat-message system"><div class="meta">10:32 AM</div>User1 left the chat.</div>
      <div class="chat-message"><div class="meta">User2 • 10:32 AM</div>Hello!</div>
    </div>
    <form class="chat-input">
      <input type="text" placeholder="Type a message..." name="" id="" autofocus>
      <button type="submit">Send</button>
    </form>
  </div>
</body>

</html>