<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Go Chat Room</title>
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>

<body>
  <header id="header">
    <h1 class="logo">Title Placeholder</h1>
    <nav class="navbar">
      <ul class="nav-items">
        <a href="/login">
          <li>Sign in</li>
        </a>
        <a href="/account/new">
          <li>Sign up</li>
        </a>
        <a href="/account/edit">
          <li>Account</li>
        </a>
        <a href="/logout">
          <li>Sign out</li>
        </a>
      </ul>
    </nav>
  </header>
  <div class="main-content">
    <div class="form-container">
      <h1>Sign in</h1>
      <form action="/login" method="post">
        <label for="email">Email Address</label>
        <input type="text" name="email" id="email">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</body>

</html>