<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Go Chat App</title>
  <link rel="stylesheet" type="text/css" href="../static/css/styles_test.css">
</head>

<body>
  <div class="sidebar">
    <h2>nathanp</h2>
    <div class="room">Memes</div>
    <div class="room">Tech Talk</div>
    <div class="room">Random</div>
  </div>
  <div class="chat-container">
    <div class="chat-header">Room 1</div>
    <div class="chat-area"></div>
    <form class="chat-input">
      <input type="text" placeholder="Type a message..." name="" id="" autofocus>
      <button type="submit">Send</button>
    </form>
  </div>
</body>

</html>